<%= render partial: "layouts/header" %>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <br />
                <% unless notice.nil? %>
                  <p id="notice" class="alert alert-success"><%= notice %></p>
                <% end %>
                <h1 class="page-header">Postagens <%= link_to 'Novo Tweet', new_post_path, data: {toggle: "modal", target: "#my-modal"}, class:"btn btn-default" %></h1>

                <div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="my-modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        </div>
                    </div>
                </div>

                <% @posts.each do |post| %>
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <%= post.user.email %>

                                  <% @found_one = false %>
                                  <% if current_user.id != post.user.id %>
                                      <% current_user.following.each do | following | %>
                                          <% if following.id == post.user.id %>
                                              <% @found_one = true %>
                                          <% end %>
                                      <% end %>
                                      <% if @found_one %>
                                          <%= link_to "Deixar de Seguir", unfollow_path(id: post.user.id), class: "btn btn-outline btn-danger" %>
                                      <% else %>
                                          <%= link_to "Seguir", follow_path(id: post.user.id), class: "btn btn-outline btn-success" %>
                                       <% end %>
                                  <% end %>
                              </div>
                              <div class="panel-body">
                                  <p><%= post.message %></p>
                              </div>
                              <div class="panel-footer">
                                  <span class="glyphicon glyphicon-time"></span> <%= post.created_at.strftime("Postado em: %d/%m/%Y as %H:%M") %>

                                  <% if current_user.id == post.user.id %>
                                      <%= link_to 'Deletar', '#', data: {toggle: "modal", target: "#myModal"}, class:"btn btn-danger" %>

                                      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
                                          <div class="modal-dialog">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                      <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                      Tem certeza que deseja deletar este tweet?
                                                  </div>
                                                  <div class="modal-footer">
                                                      <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                                                      <%= link_to("Sim, tenho certeza", post, method: :delete, class: 'btn btn-primary') %>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  <% end %>
                              </div>
                          </div>
                      </div>
                  </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= render partial: "layouts/footer" %>